<div class="profile-container">
	<%= render 'partials/nav' %>
	<div class="container">
		<h2>2013-2014 Skeeters</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<%= image_tag "team_photo.jpg", class: "img-responsive" %>
			</div>
			<div class="col-md-3 col-md-offset-1">
				<h3>Roster</h3>
				<% for profile in @profiles %>
					<h4><%= link_to profile.name, profile %></h4>
				<% end %>
				<h4>Avery Johnson #7</h4>
				<h4>Lincoln Campbell #9</h4>
				<h4>Drew Lamb #23</h4>
				<h4>Avery Johnson #7</h4>
				<h4>Lincoln Campbell #9</h4>
				<h4>Drew Lamb #23</h4>
				<h4>Avery Johnson #7</h4>
				<h4>Lincoln Campbell #9</h4>
				<h4>Drew Lamb #23</h4>
				
			</div>
		</div>	
	</div>
	<%= render 'partials/footer' %>
</div>

