<div class="footer hidden-xs">
  <div class="row">
  	<p>&copy; Skeeters Baseball Club <%= Time.now.strftime('%Y') %></p>
  </div>
</div>

<div class="footer-mobile visible-xs">
	<div class="row">
  	<p>&copy; Skeeters Baseball Club <%= Time.now.strftime('%Y') %></p>
	</div>
</div>