<div class="footer hidden-xs">
  <p>&copy; Skeeters Baseball Club <%= Time.now.strftime('%Y') %></p>
</div>

<div class="footer-mobile visible-xs">
  <p>&copy; Skeeters Baseball Club <%= Time.now.strftime('%Y') %></p>
</div>